<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Resume - Haque Monwarul portfolio</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Personal
  * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
  * Updated: Nov 04 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="resume-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="{% url 'index' %}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="{% static 'assets/img/logo .png' %}" alt=""> -->
        <h1 class="sitename">Personal</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'resume' %}">Resume</a></li>
          <li><a href="{% url 'portfolio' %}">Portfolio</a></li> 
          <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Resume</h1>
              
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Resume</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Resume Section -->
    <section id="resume" class="resume section">

      <div class="container">

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <h3 class="resume-title">学歴</h3>
            <div class="resume-item">
              <h4>学士号- メディアコミュニケーション学部 情報文化学科</h4>
              <h5>２０２０年４月 - ２０２４年３月</h5>
              <p><em>江戸川大学</em></p>
              <p>情報文化学科でバックエンドシステム開発やデータベース設計、API開発について学びました</p>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>日本語学校（日本）</h4>
              <h5>２０１８年４月 - ２０２０年３月</h5>
              <p><em>UJS Language Institute、東京</em></p>
              <p>日本語の読み書きや会話スキルを向上させました</p>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>日本語学校（母国）</h4>
              <h5>２０１７年７月 - ２０１７年１２月</h5>
              <p><em>GLOBAL Language Institute、ダッカ</em></p>
              <p>日本語の読み書きや会話スキルを向上させました</p>
            </div><!-- End Resume Item -->
            
            <div class="resume-item">
              <h4>Lalbagh Government Model College（高校）</h4>
              <h5>２０１５年７月 - ２０１７年６月</h5>
              <p><em>ダッカ、バングラデシュ</em></p>
              <p>ビジネス学科</p>
            </div><!-- End Resume Item -->
            

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <h3 class="resume-title">職歴 </h3>
            <div class="resume-item">
              <h4>バックエンドエンジニア、コグラフ株式会社（品川、東京）</h4>
              <h5>２０２４年４月 - 現在</h5>
              <p><h2>業務概要</h2></p>
              <p>社内営業部門向けの案件検索システムのダッシュボードを開発。
                求人情報をWebスクレイピングを用いて取得し、フロントエンドと連携させ、営業チームが迅速に情報を検索・分析できる環境を提供。
              </p>
              <p><h4>担当業務</h4></p>

              <ul>
                <li><b>PostgreSQLデータベースの設定と管理</b>：ローカルデータベースを設定し、データの効率的な管理を実現。</li>
                <li><b>Webスクレイピングでのデータ抽出</b>：特定のWebサイトから求人情報を収集し、API制限やサイト構造の変更にも対応可能な仕組みを構築。</li>
                <li><b>Djangoを使用した管理画面の実装</b>：Djangoモデルを設計し、データベースとの連携をスムーズにする管理画面を開発。</li>
                <li><b>REST APIの作成</b>：データの提供や管理を効率化するためのAPIを構築。</li>
              </ul>

              <p><h4>工夫したポイントと成果</h4></p>
              <ul>
                <li><b>データ収集の効率化</b>：API制限やWebページ構造の変更に対する対応策として、エラーハンドリングと再試行機能を導入しました。これにより、データ収集の安定性と信頼性が向上しました。</li>
                <li><b>チームワークの強化</b>：開発の効率化を図るため、定期的に報告・連絡・相談を行い、チームメンバーとの情報共有を積極的に行いました。これにより、プロジェクトの進捗がスムーズになり、協力体制が強化されました。</li>
              </ul>

              
            </div><!-- Edn Resume Item -->

            <!-- Edn Resume Item -->

          </div>

        </div>

      </div>

    </section><!-- /Resume Section -->

  </main>

  <footer id="footer" class="footer dark-background">
    <div class="container">
      <h3 class="sitename">Personal</h3>
      <div class="social-links d-flex justify-content-center">
        <a href = "{{ social.Linkedin_links}}" ><i class="bi bi-linkedin"></i></a>
        <a href = "{{ social.Line_links }}"><i class="bi bi-line"></i></a>
      </div>
      <div class="container">
        <div class="copyright">
          <span>Copyright</span> <strong class="px-1 sitename">Personal</strong> <span>All Rights Reserved</span>
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you've purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        </div>
      </div>
    </div>
  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/typed.js' %}/typed.umd .js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>